*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#cont{
    width: 100%;
    padding: 15px;
    display: flex;
}
#two{
    transform: rotate(3deg);
    color: white;
    font-size: larger;
}

#three{
    transform: rotate(3deg);
    color: red;
    font-size: larger;
}
p{
    text-align: center;
}
#form{
    margin: auto;
    display: flexbox;
    width: 100%;
}
#btn{
    margin: auto;
    width: 80%;
    display: flex;
    padding: 10px;
}
#text-area{
    margin: auto;
    width: 80%;
    display: flex;
    padding: 10px;
}