*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#cont{
    width: 100%;
    padding: 15px;
    display: flex;
}
#two{
    transform: rotate(3deg);
    color: white;
    font-size: larger;
}

#three{
    transform: rotate(3deg);
    color: red;
    font-size: larger;
}
p{
    text-align: center;
}
#form{
    margin: auto;
    display: flexbox;
    width: 100%;
    height: max-content;
}
#btn{
    margin: auto;
    width: 80%;
    display: flex;
    padding: 10px;
}
#text-area{
    margin: auto;
    width: 80%;
    display: flex;
    padding: 10px;
    height: auto;
}
#number{
    height: 35px;
    pointer-events: none;
}
@keyframes glow{
   0%{
        background-color: red;
        box-shadow: 0 0 3px red;
    }

    50%{
        background-color: white;
        box-shadow:0 0 3px white;
        
    }
    100%{
        background-color: red;
        box-shadow: 0 0 3px red;
    }
}
#play-btn{
    animation: glow 1800ms infinite;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Trebuchet MS';
}